<%= form_for(@ksat_list) do |f| %>

<% if @ksat_list.errors.any? %>
<div class="ui error message">
  <div class="header">
    <%= pluralize(@ksat_list.errors.count, "error") %> prohibited this ksat_list from being saved:
  </div>
  <ul class="list">
    <% @ksat_list.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="ui form segment">
  <div class="field">
    <%= f.label :title %>
    <div class="ui left labeled icon input">
      <%= f.text_field :title %>
      <i class="flag icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :description %>
    <div class="ui left labeled icon input">
      <%= f.text_area :description %>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <%= f.submit class: "ui blue submit button tiny" %>
</div>

<% end %>

  
