<div class="ui small inverted menu">
  <a class="active item">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="mail icon"></i> Messages
  </a>1
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <div class="ui dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
    <div class="item">
        <div class="ui teal button">Sign Up</div>
    </div>
  </div>
</div>

<h2 class="ui header">
  Task List
  <div class="sub header">Manage your account settings and set e-mail preferences.</div>
</h2>

<div class="ui divider"></div>

<table class="ui three column table segment">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @ksat_lists.each do |ksat_list| %>
      <tr id="<%= dom_id(ksat_list) %>">
        <td><%= ksat_list.title %></td>
        <td><%= ksat_list.description %></td>
        <td>
          <div class="ui buttons">
            <%= link_to "List Items", ksat_list_task_items_path(ksat_list), class: "tiny ui button" %>
            <%= link_to 'Show', ksat_list, class: "tiny ui button" %>
            <%= link_to 'Edit', edit_ksat_list_path(ksat_list), class: "tiny ui button" %>
            <%= link_to '<i class="remove icon delete"></i> Delete'.html_safe, ksat_list, class: "tiny ui red button" , method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3">
        <%= link_to '<i class="add sign box icon"></i>' 'New Ksat list'.html_safe, new_ksat_list_path, class: "tiny ui teal button" %>
      </th>
    </tr>
  </tfoot>
</table>

<br>