<% if @task_item.errors.any? %>
<div class="ui error message">
  <div class="header">
		<%= pluralize(@task_item.errors.count, "error") %> prohibited this task item from being saved:
	</div>
	<ul class="list">
    <% @task_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="ui form segment">
  <div class="field">
		<%= form.label :content %>
		<div class="ui left labeled icon input">
			<%= form.text_field :content %>
			<i class="user icon"></i>
	    <div class="ui corner label">
	      <i class="icon asterisk"></i>
	    </div>
	  </div>
	</div>
  <%= form.submit "Save", class: "ui blue submit button tiny" %>
</div>

