<!DOCTYPE html>
<html>
<head>
  <title>Ksat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="ui small inverted menu">
  <%= link_to '<i class="home icon"></i> Home'.html_safe, root_path, class: "active item" %>
  <%= link_to '<i class="briefcase icon"></i> Task Lists'.html_safe, ksat_lists_path, class: "item" %>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <div class="ui dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
    <div class="item">
        <div class="ui teal button">Sign Up</div>
    </div>
  </div>
</div>

	<% flash.each do |type, message| %>
	<div class="alert flash <%= type %>">
		<%= message %>	
	</div>
	<% end %>

<%= yield %>

</body>
</html>
